* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(./images/fundo-de-folhas-verdes-tropicais.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid rgba(128, 0, 128, 0.281);
    background: transparent;
    backdrop-filter: blur(16px);
    border-radius: 30px;
    box-shadow: 100%;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

header img {
    height: 30px;
    margin-right: 8px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

input{
    font-size: 16px;
    padding-left: 5px;
    margin: 0 10px;
    border-bottom: 3px solid rgba(128, 0, 128, 0.39);

} 
button {
    color: aliceblue;
    font-weight: bold;
    background-color: #06e69077 ;
    font-size: 16px;
    padding: 5px;
    border-radius: 26px;
    border: none;
    margin: 0 10px;
    border-bottom: 2px solid rgba(128, 0, 128, 0.39);
    
}
table {
    color: aliceblue;
    width: 700px;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
}

th, td {
    padding: 8px;
    text-align: center;
}